GMAIL_USER=your.email@gmail.com
GMAIL_PASSWORD=your_app_password_here
EMAIL_TO=recipient@example.com

API_LOGIN=API
API_PASSWORD=your_api_password
API_HOST=194.28.167.23
API_PORT=8070
API_IP=194.28.167.23
